<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">C:\_training\myProject\logs</Property>
        <Property name="log-filename">moneyAllocatingApp</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <RollingFile name="DAILY_LOG" fileName="${log-path}/${log-filename}.log" filePattern="${log-path}/${log-filename}.log-%d{yyyyMMdd}.log">
            <PatternLayout pattern="%5p [%d] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="pl.com.karwowskigrzegorz" level="debug" additivity="false">
            <AppenderRef ref="DAILY_LOG"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>